[submodule "buildroot"]
	path = buildroot
	url = git@github.com:PENGLAI-ZGC-TEE/buildroot.git
	branch = penglai-platform-dtb
[submodule "opensbi"]
	path = opensbi
	url = git@github.com:PENGLAI-ZGC-TEE/opensbi.git
	branch = origin-heavyzone
[submodule "debian-linux-kernel"]
	path = debian-linux-kernel
	url = git@github.com:PENGLAI-ZGC-TEE/debian-linux-kernel.git
[submodule "NEMU"]
	path = NEMU
	url = git@github.com:PENGLAI-ZGC-TEE/NEMU.git
	branch = main
